{% extends "public.html" %} {% block toolbar_title %} Edit auction house {%
endblock %} {% from "macros.jinja" import window_vars with context %} {% block
page %}

<div class="row">
  <div class="col-md-2 col-sm-none">
    <!-- empty space -->
  </div>

  <q-card class="col-md-6 col-sm-12 q-pa-md">
    <div class="row">
      <q-btn
        unelevated
        color="primary"
        @click="saveAuctionHouse"
        class="float-right"
        :disable="auctionHouseForm.data.wallet == null || auctionHouseForm.data.currency == null"
        >Update Auction House</q-btn
      >
    </div>
  </q-card>
  <div class="col-md-2 col-sm-none">
    <!-- empty space -->
  </div>
</div>

<div class="row q-mt-md">
  <div class="col-md-2 col-sm-none">
    <!-- empty space -->
  </div>

  {% raw %}
  <div class="col-md-6 col-sm-12">
    <q-card class="q-pa-lg q-mt-md">
      <q-tabs v-model="auctionHouseTab" active-color="primary" align="justify">
        <q-tab name="overview" label="Overview"></q-tab>
        <q-tab name="webhooks" label="Web Hooks"></q-tab>
      </q-tabs>

      <q-tab-panels class="bg-transparent" v-model="auctionHouseTab">
        <q-tab-panel name="overview">
          <!-- <q-card class="q-pa-lg"> -->
          <div class="q-gutter-md">
            <q-select
              filled
              dense
              emit-value
              v-model="auctionHouseForm.data.wallet"
              :options="g.user.walletOptions"
              label="Wallet *"
            ></q-select>
            <q-select
              filled
              dense
              emit-value
              v-model="auctionHouseForm.data.currency"
              :options="currencyOptions"
              label="Currency *"
            ></q-select>
            <q-input
              filled
              dense
              v-model.trim="auctionHouseForm.data.name"
              label="Name"
              placeholder="Name of the auction house"
            ></q-input>
            <q-input
              filled
              dense
              type="textarea"
              rows="3"
              v-model.trim="auctionHouseForm.data.description"
              label="Description"
              placeholder="Description of the auction house"
            ></q-input>
            <q-input
              filled
              dense
              v-model="auctionHouseForm.data.days"
              type="number"
              min="0"
              step="1"
              label="Days"
              placeholder="Number of days"
              hint="Number of days the auction house will be active."
            ></q-input>
            <q-input
              filled
              dense
              v-model="auctionHouseForm.data.house_percentage"
              type="number"
              min="1"
              step="1"
              label="House Fee"
              placeholder="House fee percentage"
              hint="Percentage that the house gets when the auction is done."
            ></q-input>
            <q-input
              filled
              dense
              v-model="auctionHouseForm.data.min_bid_up_percentage"
              type="number"
              min="1"
              step="1"
              label="Min Bid Up"
              placeholder="Minimum bid up percentage"
              hint="Minimum percentage that the bid must be increased by."
            ></q-input>
          </div>
          <!-- </q-card> -->
        </q-tab-panel>
        <q-tab-panel name="webhooks"> </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>

  {% endraw %}
  <div class="col-md-4 col-sm-none">
    <!-- empty space -->
  </div>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  const auction_house = JSON.parse({{auction_house | tojson | safe}})
</script>
<script src="{{ static_url_for('bids/static', 'js/auction_house.js') }}"></script>
{% endblock %}
