{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn
          unelevated
          color="primary"
          @click="formDialog.show = true"
          class="q-mr-md"
          >New Auction House</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Auction Houses</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="auction_houses"
          row-key="id"
          :columns="auction_housesTable.columns"
          v-model:pagination="auction_housesTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  color="red"
                  @click="deleteAuctionHouse(props.row.id)"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="edit"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'auction_house/' + props.row.id"
                  target="_blank"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="list"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'bids/auctions/' + props.row.id"
                  target="_blank"
                  class="q-mr-sm"
                ></q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Addresses</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportAddressesCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="addresses"
          row-key="id"
          :columns="addressesTable.columns"
          v-model:pagination="addressesTable.pagination"
          @request="getAddresses"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="check"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  :disable="props.row.active == true"
                  @click="activateAddress(props.row.auction_house_id, props.row.id)"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="edit"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="editAddress(props.row)"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="deleteAddress(props.row.id)"
                ></q-btn>
              </q-td>

              <q-td v-text="props.row.id"></q-td>
              <q-td v-text="props.row.active"></q-td>

              <q-td>
                <q-tooltip>
                  <span>Auction House ID:</span>
                  <span v-text="props.row.auction_house_id"></span
                ></q-tooltip>
                <span v-text="addressFullName(props.row)"></span>
              </q-td>
              <q-td v-text="props.row.pubkey"></q-td>
              <q-td
                v-text="props.row.reimburse_amount"
                @click="showReimburseInvoice(props.row)"
                class="cursor-pointer"
              >
              </q-td>
              <q-td v-text="props.row.time"></q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">{{SITE_TITLE}} Bids extension</h6>
        <p>
          <strong>Create auctions or fixed price salles</strong>
        </p>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "bids/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveAuctionHouse" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.name"
          label="Name"
          placeholder="Name of the auction house"
        ></q-input>
        <q-input
          filled
          dense
          type="textarea"
          rows="2"
          v-model.trim="formDialog.data.description"
          label="Description"
          placeholder="Description of the auction house"
        ></q-input>
        <q-select
          filled
          dense
          emit-value
          map-options
          v-model="formDialog.data.type"
          :options="biddingType"
          label="Bidding Type"
        ></q-select>
        <q-select
          v-if="formDialog.data.type"
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        ></q-select>
        <q-select
          v-if="formDialog.data.type"
          filled
          dense
          emit-value
          v-model="formDialog.data.currency"
          :options="currencyOptions"
          label="Currency *"
        ></q-select>
        <q-input
          v-if="formDialog.data.type === 'auction'"
          filled
          dense
          v-model="formDialog.data.days"
          type="number"
          min="0"
          step="1"
          label="Days"
          placeholder="Number of days"
          hint="Number of days the auction house will be active."
        ></q-input>
        <q-input
          v-if="formDialog.data.type === 'auction'"
          filled
          dense
          v-model="formDialog.data.house_percentage"
          type="number"
          min="1"
          step="1"
          label="House Fee"
          placeholder="House fee percentage"
          hint="Percentage that the house gets when the auction is done."
        ></q-input>
        <q-input
          v-if="formDialog.data.type === 'auction'"
          filled
          dense
          v-model="formDialog.data.min_bid_up_percentage"
          type="number"
          min="1"
          step="1"
          label="Min Bid Up"
          placeholder="Minimum bid up percentage"
          hint="Minimum percentage that the bid must be increased by."
        ></q-input>

        <q-btn
          unelevated
          color="primary"
          :disable="formDialog.data.wallet == null || formDialog.data.currency == null || formDialog.data.days == null|| formDialog.data.house_percentage == null|| formDialog.data.min_bid_up_percentage == null"
          type="submit"
          >Create Auction House</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto float-right"
          >Cancel</q-btn
        >
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog
    v-model="addressFormDialog.show"
    position="top"
    @hide="closeAddressFormDialog"
  >
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveAddress" class="q-gutter-md">
        <q-select
          v-if="!addressFormDialog.data.id"
          filled
          dense
          emit-value
          v-model="addressFormDialog.data.auction_house_id"
          :options="auctionHouseOptions"
          label="Auction House *"
        ></q-select>
        <q-input
          filled
          dense
          v-model.trim="addressFormDialog.data.pubkey"
          label="Public Key"
          placeholder="npub or hex"
        ></q-input>
        <q-input
          v-if="!addressFormDialog.data.id"
          filled
          dense
          v-model.trim="addressFormDialog.data.local_part"
          label="Local Part"
          placeholder="benarc"
        ></q-input>
        <q-input
          filled
          dense
          v-model="addressFormDialog.data.relay"
          @keydown.enter="addRelayForAddress"
          type="text"
          label="Relay"
        >
          <q-btn @click="addRelayForAddress" dense flat icon="add"></q-btn>
        </q-input>
        <div>
          <q-chip
            v-for="relay in addressFormDialog.data.config.relays"
            :key="relay"
            removable
            @remove="removeRelayForAddress(relay)"
            color="primary"
            text-color="white"
            ><span v-text="relay"></span
          ></q-chip>
        </div>

        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="addressFormDialog.data.auction_house_id == null || addressFormDialog.data.pubkey == null || addressFormDialog.data.local_part == null"
            type="submit"
          >
            <span v-if="!addressFormDialog.data.id"> Create Address</span>
            <span v-else> Update Address</span></q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="rankingFormDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="addAuctionHouseRanking" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          map-options
          v-model="rankingFormDialog.data.bucket"
          :options="auction_houseRankingAllOptions"
          label="Bucket"
        ></q-select>
        <q-input
          filled
          dense
          type="textarea"
          rows="10"
          v-model.trim="rankingFormDialog.data.identifiers"
          label="Identifiers"
          placeholder="identifiers"
          hint="One identifier per line"
        ></q-input>

        <div class="row q-mt-lg">
          <q-btn unelevated color="primary" type="submit">Update Ranking</q-btn>
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="identifierFormDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="searchIdentifier" class="q-gutter-md">
        <div class="row">
          <div class="col-8">
            <q-input
              filled
              dense
              v-model.trim="identifierFormDialog.data.searchText"
              label="Search Identifier"
              placeholder="Search"
            ></q-input>
          </div>
          <div class="col-4">
            <q-btn
              @click="searchIdentifier"
              type="submit"
              unelevated
              color="primary"
              class="float-right"
              >Search</q-btn
            >
          </div>
        </div>
        <div v-if="identifierFormDialog.data.identifier" class="row">
          <div class="col-8">
            <q-select
              filled
              dense
              emit-value
              map-options
              v-model="identifierFormDialog.data.identifier.rank"
              :options="auction_houseRankingAllOptions"
              label="Bucket"
            ></q-select>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row q-mt-lg">
          <q-btn @click="updateIdentifier" unelevated color="primary"
            >Update Ranking</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="settingsFormDialog.show" position="top"> </q-dialog>

  <q-dialog v-model="qrCodeDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card text-center">
      <a
        class="text-secondary"
        :href="'lightning:' + qrCodeDialog.data.payment_request"
      >
        <q-responsive :ratio="1" class="q-mx-xs">
          <lnbits-qrcode
            :value="qrCodeDialog.data.payment_request"
          ></lnbits-qrcode>
        </q-responsive>
      </a>
      <br />
      <q-btn
        outline
        color="grey"
        @click="copyText('lightning:' + qrCodeDialog.data.payment_request, 'Invoice copied to clipboard!')"
        >Copy Invoice</q-btn
      >
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('bids/static', 'js/index.js') }}"></script>
{% endblock %}
