{% extends "public.html" %} {% block toolbar_title %} Auctions {% endblock %} {%
from "macros.jinja" import window_vars with context %} {% block page %}

<div class="row">
  <div class="col-md-2 col-sm-none">
    <!-- empty space -->
  </div>

  <div class="col-md-8 col-sm-12">
    <q-card>
      <q-card-section>
        <div class="row">
          <div class="col-6">
            <h5 class="q-mt-sm">Auctions</h5>
          </div>
          <div class="col-6">
            <q-btn
              v-if="auctionRoomForm.isUserAuthenticated"
              @click="showAddNewAuctionItemDialog"
              unelevated
              color="primary"
              class="float-right"
              >Add Auction Item</q-btn
            >
            <q-badge class="float-right" v-else>Login to place bid</q-badge>
          </div>

          <div class="col-12">
            <q-table
              dense
              flat
              :rows="auctionItems"
              row-key="id"
              :columns="itemsTable.columns"
              v-model:pagination="itemsTable.pagination"
              @request="getAuctionItemsPaginated"
            >
              {% raw %}
              <template v-slot:header="props">
                <q-tr :props="props">
                  <q-th auto-width></q-th>
                  <q-th
                    v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                  >
                    {{ col.label }}
                  </q-th>
                  <q-th auto-width></q-th>
                </q-tr>
              </template>

              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td auto-width>
                    <q-btn
                      unelevated
                      dense
                      size="md"
                      label="Bid"
                      color="secondary"
                      type="a"
                      :href="'auctions/' + props.row.id"
                      target="_blank"
                      class="q-mr-sm"
                    ></q-btn>
                  </q-td>
                  <q-td
                    v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                  >
                    {{ col.value }}
                  </q-td>
                </q-tr>
              </template>
              {% endraw %}
            </q-table>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-md-2 col-sm-none">
    <!-- empty space -->
  </div>

  <q-dialog v-model="itemFormDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="addAuctionItem" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="itemFormDialog.data.name"
          label="Name"
          placeholder="Auction Item Name (must be unique)"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="itemFormDialog.data.description"
          label="Description"
          type="textarea"
          rows="2"
          placeholder="Detailed description of the item"
        ></q-input>
        <q-input
          filled
          dense
          v-model="itemFormDialog.data.starting_price"
          min="0"
          type="number"
          label="Starting Price"
          hit="Starting price for bidding for this item"
        >
        </q-input>
        <q-input
        filled
        dense
        v-model.trim="itemFormDialog.data.transfer_code"
        label="Transfer Code"
        hint="Code required to prove the ownership of the item"
      ></q-input>

        <div class="row q-mt-lg">
          <q-btn unelevated color="primary" type="submit">
            <!-- :disable="itemFormDialog.data.auction_room_id == null || itemFormDialog.data.pubkey == null || itemFormDialog.data.local_part == null" -->
            <span> Add Auction Item</span></q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>

{% endblock %} {% block scripts %}
<script>
  const auction_room = JSON.parse({{auction_room | tojson | safe}})
  const is_user_authenticated = JSON.parse({{ is_user_authenticated | tojson | safe }})
</script>
<script src="{{ static_url_for('auction_house/static', 'js/auctions.js') }}"></script>
{% endblock %}
