{% extends "public.html" %} {% block toolbar_title %} Auctions {% endblock %} {%
from "macros.jinja" import window_vars with context %} {% block page %}

<div class="row">
  <div class="col-md-2 col-sm-none">
    <!-- empty space -->
  </div>

  <div class="col-md-8 col-sm-12">
    <q-card class="q-mt-lg">
      <q-card-section>
        <div class="row q-mb-lg">
          <div class="col-6">
            <q-input
              filled
              dense
              v-model.trim="auditTable.search"
              label="Search audit entries"
              placeholder="Search audit entries"
            >
              <template v-slot:before>
                <q-icon name="search"> </q-icon>
              </template>
              <template v-slot:append>
                <q-icon
                  v-if="auditTable.search"
                  name="close"
                  @click="auditTable.search = ''"
                  class="cursor-pointer"
                >
                </q-icon>
              </template>
            </q-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <q-table
              dense
              flat
              :rows="auditEntries"
              row-key="id"
              :columns="auditTable.columns"
              v-model:pagination="auditTable.pagination"
              @request="getAuditEntriesPaginated"
            >
              {% raw %}
              <template v-slot:header="props">
                <q-tr :props="props">
                  <q-th
                    v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                  >
                    {{ col.label }}
                  </q-th>
                </q-tr>
              </template>

              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td
                    v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                  >
                    {{ col.value }}
                  </q-td>
                </q-tr>
              </template>
              {% endraw %}
            </q-table>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-md-2 col-sm-none">
    <!-- empty space -->
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  const entry_id = '{{ entry_id | safe }}'
</script>
<script src="{{ static_url_for('auction_house/static', 'js/audit.js') }}"></script>
{% endblock %}
