{% extends "public.html" %} {% block toolbar_title %} Auctions {% endblock %} {%
from "macros.jinja" import window_vars with context %} {% block page %}

<div class="row">
  <div class="col-md-2 col-sm-none">
    <!-- empty space -->
  </div>

  <div class="col-md-8 col-sm-12">
    <q-card>
      <q-card-section>
        <div class="row">
          <div class="col-12">
            <h3 class="q-mt-sm">
              <span v-text="this.bidForm.data.name"></span>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h6 class="q-mt-none q-mb-none">
              <span v-text="this.bidForm.data.description"></span>
            </h6>
          </div>
        </div>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <div class="row">
          <div class="col-4">
            <h5 class="q-mt-sm">Time Left:</h5>
          </div>
          <div class="col-8">
            <div v-if="timeLeft" class="q-mt-md">
              <span v-text="timeLeft.days"></span> days
              <span v-text="timeLeft.hours"></span> hours
              <span v-text="timeLeft.minutes"></span> minutes
              <span v-text="timeLeft.seconds"></span> seconds
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h5 class="q-mt-sm">Last Bid:</h5>
          </div>
          <div class="col-8">
            <div class="q-mt-md">
              <span v-text="currentPrice"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <h5 class="q-mt-sm">Minimum Bid:</h5>
          </div>
          <div class="col-4">
            <q-input
              filled
              dense
              v-model="bidPrice"
              min="0"
              step="0.01"
              type="number"
              label="Next Bid Value"
              hint="The minimum value for the next bid"
            ></q-input>
          </div>
          <div class="col-4">
            <span v-text="this.bidForm.data.currency" class="float-left q-mt-sm q-ml-md"></span>
          </div>
        </div>
        <div v-if="bidForm.isUserAuthenticated" class="row">
          <div class="col-4">
            <h5 class="q-mt-sm">Memo:</h5>
          </div>

          <div class="col-4">
            <q-input
              filled
              dense
              type="textarea"
              rows="3"
              v-model.trim="bidMemo"
              label="Memo"
              placeholder="Memo for the bid"
              hint="Optional. This will be displayed in the bid history"
            ></q-input>
          </div>
          <div class="col-4"></div>
        </div>
        <div v-if="bidForm.isUserAuthenticated" class="row">
          <div class="col-12">
            <q-btn
              v-if="bidForm.isUserAuthenticated"
              @click="placeBid"
              unelevated
              color="primary"
              class="float-right"
              >Place Bid</q-btn
            >
            <q-btn v-else color="gray" outline disable class="float-right"
              >Login to place your bid</q-btn
            >
          </div>
        </div>
      </q-card-section>
    </q-card>

    <q-card class="q-mt-lg">
      <q-card-section>
        <div class="row">
          <div class="col-6">
            <h5 class="q-mt-sm">Bids</h5>
          </div>
          <div class="col-6"></div>

          <div class="col-12">
            <q-table
              dense
              flat
              :rows="bidsList"
              row-key="id"
              :columns="bidsTable.columns"
              v-model:pagination="bidsTable.pagination"
              @request="getBidsPaginated"
            >
              {% raw %}
              <template v-slot:header="props">
                <q-tr :props="props">
                  <q-th auto-width></q-th>
                  <q-th
                    v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                  >
                    {{ col.label }}
                  </q-th>
                  <q-th auto-width></q-th>
                </q-tr>
              </template>

              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td auto-width> </q-td>
                  <q-td
                    v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                  >
                    {{ col.value }}
                  </q-td>
                </q-tr>
              </template>
              {% endraw %}
            </q-table>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-md-2 col-sm-none">
    <!-- empty space -->
  </div>
  <q-dialog v-model="showBidRequestQrCode" position="top">
    <q-card
      v-if="bidRequest"
      class="q-pa-lg q-pt-xl lnbits__dialog-card text-center"
    >
      <a
        class="text-secondary"
        :href="'lightning:' + bidRequest.payment_request"
      >
        <q-responsive :ratio="1" class="q-mx-xs">
          <lnbits-qrcode :value="bidRequest.payment_request"></lnbits-qrcode>
        </q-responsive>
      </a>
      <br />
      <q-btn
        outline
        color="grey"
        @click="copyText('lightning:' + bidRequest.payment_request, 'Invoice copied to clipboard!')"
        >Copy Invoice</q-btn
      >
    </q-card>
  </q-dialog>
</div>

{% endblock %} {% block scripts %}
<script>
  const auction_item = JSON.parse({{auction_item | tojson | safe}})
  const is_user_authenticated = JSON.parse({{ is_user_authenticated | tojson | safe }})
</script>
<script src="{{ static_url_for('auction_house/static', 'js/bids.js') }}"></script>
{% endblock %}
