{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn
          unelevated
          color="primary"
          @click="formDialog.show = true"
          class="q-mr-md"
          >New Auction Room</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Auction Rooms</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="auctionRooms"
          row-key="id"
          :columns="auctionRoomsTable.columns"
          v-model:pagination="auctionRoomsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  color="red"
                  @click="deleteAuctionRoom(props.row.id)"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="edit"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'auction_room/' + props.row.id"
                  target="_blank"
                  class="q-mr-sm"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="list"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'auctions/' + props.row.id"
                  target="_blank"
                  class="q-mr-sm"
                ></q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Auction House extension
        </h6>
        <p>
          <strong>Create auctions or fixed price salles</strong>
        </p>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "auction_house/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveAuctionRoom" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.name"
          label="Name"
          placeholder="Name of the auction room"
        ></q-input>
        <q-input
          filled
          dense
          type="textarea"
          rows="2"
          v-model.trim="formDialog.data.description"
          label="Description"
          placeholder="Description of the auction room"
        ></q-input>
        <q-select
          filled
          dense
          emit-value
          map-options
          v-model="formDialog.data.type"
          :options="biddingType"
          label="Bidding Type"
        ></q-select>
        <q-select
          v-if="formDialog.data.type"
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        ></q-select>
        <q-select
          v-if="formDialog.data.type"
          filled
          dense
          emit-value
          v-model="formDialog.data.currency"
          :options="currencyOptions"
          label="Currency *"
        ></q-select>
        <q-input
          v-if="formDialog.data.type === 'auction'"
          filled
          dense
          v-model="formDialog.data.days"
          type="number"
          min="0"
          step="1"
          label="Days"
          placeholder="Number of days"
          hint="Number of days the auction room will be active."
        ></q-input>
        <q-input
          v-if="formDialog.data.type === 'auction'"
          filled
          dense
          v-model="formDialog.data.room_percentage"
          type="number"
          min="1"
          step="1"
          label="Room Fee"
          placeholder="Room fee percentage"
          hint="Percentage that the room gets when the auction is done."
        ></q-input>
        <q-input
          v-if="formDialog.data.type === 'auction'"
          filled
          dense
          v-model="formDialog.data.min_bid_up_percentage"
          type="number"
          min="1"
          step="1"
          label="Min Bid Up"
          placeholder="Minimum bid up percentage"
          hint="Minimum percentage that the bid must be increased by."
        ></q-input>

        <q-btn
          unelevated
          color="primary"
          :disable="formDialog.data.wallet == null || formDialog.data.currency == null || formDialog.data.days == null|| formDialog.data.room_percentage == null|| formDialog.data.min_bid_up_percentage == null"
          type="submit"
          >Create Auction Room</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto float-right"
          >Cancel</q-btn
        >
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('auction_house/static', 'js/index.js') }}"></script>
{% endblock %}
